/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('~getbase/css/styles.css');

html, body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helevetica', 'Arial', 'sans-serif';
  color: #333;
  background: lightblue;
}

.login-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  margin: 10px auto;
}

.fullwidth {
  width: 100%;
}

.flex-1 {
  flex: 1 1 0;
}

.flex-2 {
  flex: 2;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-content {
  height: 100vh;
}

.panel-grid {
}

.users-tile {
  background-color: whitesmoke;
}

.messages-tile {
  background-color: white;
}

.form-tile {
  background-color: whitesmoke;
}