/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('~getbase/css/styles.css');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  color: #333;
  background: lightblue;
}

.login-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  margin: 10px auto;
}

.fullwidth {
  width: 100%;
}

.app{
  height: 100vh;
}

md-toolbar {
  z-index: 10;
}

md-sidenav {
  width: 25vw;
}

.make-users-scrollable {
  height: 100%;
  overflow-y: scroll;
}

.make-scrollable {
  height: calc(100% - 80px);
  overflow-y: scroll;
  margin-bottom: 80px;
}

.users-panel {
  background-color: whitesmoke;
}

.messages-panel {
  background-color: white;
}

.message-form {
  margin-top: -80px;
  height: 80px;
  background-color: whitesmoke;
}
