<md-toolbar color="primary">
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> App Name</button>
  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
    <button md-menu-item (click)="logOut()"> Logout </button>
  </md-menu>
</md-toolbar>

<div class="grid-content">
  <md-grid-list cols="4" rowHeight="10%" class="panel-grid">
    <md-grid-tile [colspan]=1 [rowspan]=8 class="users-tile">
      <div *ngIf="users$ | async as users">
        <md-list class="users-list">
          <h3 md-title> Users: {{users.length}}</h3>
          <md-list-item *ngFor="let user of users">
            <img mdListAvatar [src]="user.avatar" alt="...">
            <h3 mdLine> {{user.email}} </h3>
          </md-list-item>
        </md-list>
      </div>
    </md-grid-tile>
    <md-grid-tile [colspan]=3 [rowspan]=8 class="messages-tile">
      <md-list>
        <md-list-item *ngFor="let message of messages$ | async">
          <img mdListAvatar [src]="message.user.avatar" [alt]="message.user.email">
          <h6 mdLine> {{message.user.email}} {{message.createdAt | date:'MMM dd, hh:mm:ss'}}</h6>
          <h3 mdLine> {{message.text}}</h3>
        </md-list-item>
      </md-list>
    </md-grid-tile>
    <md-grid-tile [colspan]=1 [rowspan]=1 class="users-tile">
    </md-grid-tile>
    <md-grid-tile [colspan]=3 [rowspan]=1 class="messages-tile">
      <form class="flex flex-row flex-space-between" id="send-message">
        <md-input-container class="fullwidth">
          <input mdInput #message type="text" name="text" class="block">
        </md-input-container>
        <button md-raised-button color="primary" (click)="sendMessage(message.value); message.value = ''">Send</button>
      </form>
    </md-grid-tile>
  </md-grid-list>
</div>
