<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <md-toolbar color="primary" class="mat-elevation-z10">
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> App Name</button>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item> Settings </button>
      <button md-menu-item> Help </button>
      <button md-menu-item (click)="logOut()"> Logout </button>
    </md-menu>
  </md-toolbar>

  <md-sidenav-container fxFlex class="messages-panel">
    <md-sidenav mode="side" align="start" opened class="mat-elevation-z6 users-panel">
      <div *ngIf="users$ | async as users">
        <md-list class="users-list">
          <h3 md-title> Users: {{users.length}}</h3>
          <md-list-item *ngFor="let user of users">
            <img mdListAvatar [src]="user.avatar" alt="...">
            <h3 mdLine> {{user.email}} </h3>
          </md-list-item>
        </md-list>
      </div>
    </md-sidenav>

    <md-list class="chat make-scrollable" #chat [scrollTop]="chat.scrollHeight - chat.clientHeight">
      <md-list-item *ngFor="let message of messages$ | async">
        <img mdListAvatar [src]="message.user.avatar" [alt]="message.user.email">
        <h6 mdLine> {{message.user.email}} {{message.createdAt | date:'MMM dd, hh:mm:ss'}}</h6>
        <h3 mdLine> {{message.text}}</h3>
      </md-list-item>
    </md-list>

    <div class="message-form">
      <form class="flex flex-row flex-space-between" id="send-message">
        <md-input-container class="fullwidth">
          <input mdInput #message type="text" name="text">
        </md-input-container>
        <button md-raised-button color="primary" (click)="sendMessage(message.value); message.value = ''">Send</button>
      </form>
    </div>

  </md-sidenav-container>
</section>
