<div class="login-main">
  <md-card class="login-card z-depth center" flex="50">
    <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
      <md-card-header>
        <md-card-title><h1 class="center-text">Log in or signup</h1></md-card-title>
      </md-card-header>
      <table class="fullwidth" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="fullwidth">
              <input mdInput #email class="block" type="email" name="email" placeholder="email">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container class="fullwidth">
              <input mdInput #password class="block" type="password" name="password" placeholder="password">
            </md-input-container>
          </td>
        </tr>
      </table>
      <p>
        <button md-raised-button color="primary" type="button" id="login" (click)="login(email.value, password.value)">
          Log in
        </button>
        <button md-raised-button color="warn" type="submit" id="signup" (click)="signup(email.value, password.value)">
          Signup
        </button>
      </p>
      <ul>
        <li *ngFor="let m of messages">{{m}}</li>
      </ul>
    </form>
  </md-card>
</div>
