<div class="login-main">
  <md-card class="login-card z-depth center" flex="50">
    <form class="formwidth" (ngSubmit)="login(email.value, password.value)" #myForm="ngForm">
      <md-card-header>
        <md-card-title>
          <h1 class="mat-h1">Log in or signup</h1>
        </md-card-title>
      </md-card-header>
      <table class="fullwidth" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="fullwidth">
              <input mdInput #email class="block" type="email" name="email" placeholder="email">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container class="fullwidth">
              <input mdInput #password class="block" type="password" name="password" placeholder="password">
            </md-input-container>
          </td>
        </tr>
      </table>
      <button md-raised-button color="primary" class="fullwidth" type="submit" id="login" (click)="login(email.value, password.value)">
        Log in
      </button>
      <br>
      <br>
      <button md-raised-button color="warn" class="fullwidth" type="button" id="signup" (click)="signup(email.value, password.value)">
        Signup
      </button>
      <ul>
        <li *ngFor="let m of messages">{{m}}</li>
      </ul>
    </form>
  </md-card>
</div>
